###Realted Videos

LangChain, SQL Agents & OpenAI LLMs: Query Database Using Natural Language https://youtu.be/VG9KYCS0-8E?si=EAqu-9DS6QX9eitR

Mastering LlamaIndex : Create, Save & Load Indexes, Customize LLMs, Prompts & Embeddings: https://youtu.be/XGBQ_f-Yy48?si=ZWs0meSlQpLPcCE0

In [2]:
!pip install llama-index psycopg2 -q

In [3]:
import logging
import sys

logging.basicConfig(stream=sys.stdout, level=logging.INFO, force=True)
logging.getLogger().addHandler(logging.StreamHandler(stream=sys.stdout))
from IPython.display import Markdown, display

https://www.mysqltutorial.org/mysql-sample-database.aspx

In [14]:
import sqlalchemy
from sqlalchemy import Table, Column, String, MetaData, text

engine = sqlalchemy.create_engine('postgresql://fbebqfpywdjzkw:d72100033639ff1150675f40af9dbf4b75213d3f586fdc120ea933a9420ebeab@ec2-44-197-128-108.compute-1.amazonaws.com:5432/dbk4idj482s1l1')

#connection_string = f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}"

# Create an engine instance
#engine = create_engine(connection_string)

# Test the connection using raw SQL
with engine.connect() as connection:
    result = connection.execute(text("select * from users limit 3"))
    for row in result:
        print(row)

(2349, 'Aron', 'Aicard', 'aron@cynosure-strategies.com', 'user', 1, '$2a$11$aqPXfDwIV3uQQF9Kne8hm.95CEDN2zAsrHjgd9mDHxacET9Bsu9ka', None, None, None, 19, datetime.datetime(2022, 4, 13, 3, 52, 11, 435199), datetime.datetime(2022, 4, 13, 3, 27, 58, 446018), '3.83.115.247', '3.83.115.247', None, None, None, None, datetime.datetime(2022, 4, 7, 18, 39, 2, 576038), datetime.datetime(2022, 4, 13, 3, 52, 21, 482833), None, None, '4770 South Judd Street', None, None, 'Tempe', 'AZ', '85282', None, None, None, None, None, None, None, None, None, '+14802784108', 'confirmed', 'cus_LSw6KmVBHOmTc5', True, None, 'aron@cynosure-strategies.com', None, None, None)
(2354, 'RDH', 'Salary2', 'developers+10@getstabl.com', 'user', 1, '$2a$11$Nue0awxaeTdHrKjRg/prHOiiELK8kjVdjtJXJaSDJaERrteSHGbT2', None, None, None, 2, datetime.datetime(2022, 6, 2, 20, 58, 37, 912739), datetime.datetime(2022, 6, 2, 20, 58, 37, 45349), '44.200.64.143', '71.209.240.200', None, None, None, None, datetime.datetime(2022, 6, 2, 20, 58, 37, 40813), datetime.datetime(2022, 6, 2, 21, 0, 37, 218293), None, None, '123 North San Francisco Street', None, None, 'Flagstaff', 'AZ', '86001', None, None, None, None, None, None, None, None, None, '+16233131133', 'unconfirmed', 'cus_Lnx0ewcSqzaA23', False, None, 'developers+100@getstabl.com', None, None, None)
(2329, 'Gary', 'McGuire', 'desiree.marchant@redirecthealth.com', 'user', 1, '$2a$11$5Umf2DDw7c1kArnSjqutt.oucJF1ChiwVxmF.uzZ3NNa2ei6JetuO', None, None, None, 53, datetime.datetime(2022, 6, 7, 16, 59, 38, 972854), datetime.datetime(2022, 5, 31, 20, 27, 46, 154572), '71.209.240.200', '3.236.73.69', None, None, None, None, datetime.datetime(2021, 12, 6, 19, 1, 7, 256311), datetime.datetime(2022, 6, 7, 16, 59, 44, 182252), None, None, '16379 West Latham Street', '', '', 'Goodyear', 'AZ', '85338', '', '', '', '', '', '', '', '', '', '+16233131133', 'confirmed', 'cus_KjEuEUafRmSyak', True, '', 'glmcguir+1@gmail.com', None, None, None)

In [15]:
table_details = {
    "user": "store users data.",
    "advances": "stores user advances",
    "company_freelancers": "store company freelancers",
    "companies": "store company data",
    "debit_cards": "stores debit cards data"
}

https://gpt-index.readthedocs.io/en/latest/api_reference/struct_store.html#llama_index.utilities.sql_wrapper.SQLDatabase

In [16]:
from llama_index import SQLDatabase
tables = ["customers","orders"]
# sql_database = SQLDatabase(engine, include_tables=tables,sample_rows_in_table_info=5)
sql_database = SQLDatabase(engine, sample_rows_in_table_info=2)
sql_database

INFO:numexpr.utils:NumExpr defaulting to 2 threads.
NumExpr defaulting to 2 threads.

In [17]:
list(sql_database._all_tables)

['company_freelancers',
 'rpush_feedback',
 'installations',
 'companies',
 'api_keys',
 'authorizations',
 'google_sheets',
 'delayed_jobs',
 'clover_company_employees',
 'subscriptions',
 'payroll_providers',
 'advance_transactions',
 'clover_registrations',
 'advances',
 'schema_migrations',
 'authentication_tokens',
 'ar_internal_metadata',
 'client_credentials',
 'company_rulesets',
 'users',
 'pinwheel_links',
 'rpush_apps',
 'eligibilities',
 'write_data_google_sheets',
 'timesheet_providers',
 'pay_periods',
 'rpush_notifications',
 'shifts',
 'active_storage_attachments',
 'active_storage_variant_records',
 'active_storage_blobs',
 'time_and_attendance_providers',
 'debit_cards']

In [19]:
import os
import openai
os.environ["OPENAI_API_KEY"] = ""
openai.api_key = os.environ["OPENAI_API_KEY"]

https://gpt-index.readthedocs.io/en/latest/examples/callbacks/TokenCountingHandler.html

In [20]:
import tiktoken
from llama_index.callbacks import CallbackManager, TokenCountingHandler
token_counter = TokenCountingHandler(
    tokenizer=tiktoken.encoding_for_model("gpt-3.5-turbo").encode
)

callback_manager = CallbackManager([token_counter])

In [21]:
from llama_index import ServiceContext, LLMPredictor, OpenAIEmbedding, PromptHelper
from llama_index.llms import OpenAI
from llama_index import ServiceContext
llm = OpenAI(temperature=0.1, model="gpt-3.5-turbo")

service_context = ServiceContext.from_defaults(
  llm=llm,callback_manager=callback_manager
)

[nltk_data] Downloading package punkt to /tmp/llama_index...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [22]:
from llama_index.indices.struct_store.sql_query import NLSQLTableQueryEngine

query_engine = NLSQLTableQueryEngine(
    sql_database=sql_database,
    service_context=service_context
)

In [38]:
# query_str = "Which customer has the highest orders?"
query_str = "How many users we have??"
# query_str ="What are the most frequently mentioned keywords or phrases in the comments made by sales representatives"
response = query_engine.query(query_str)

INFO:llama_index.indices.struct_store.sql_query:> Table desc str: Table 'active_storage_attachments' has columns: id (BIGINT), name (VARCHAR), record_type (VARCHAR), record_id (BIGINT), blob_id (BIGINT), created_at (TIMESTAMP), and foreign keys: ['blob_id'] -> active_storage_blobs.['id'].

Table 'active_storage_blobs' has columns: id (BIGINT), key (VARCHAR), filename (VARCHAR), content_type (VARCHAR), metadata (TEXT), byte_size (BIGINT), checksum (VARCHAR), created_at (TIMESTAMP), service_name (VARCHAR), and foreign keys: .

Table 'active_storage_variant_records' has columns: id (BIGINT), blob_id (BIGINT), variation_digest (VARCHAR), and foreign keys: ['blob_id'] -> active_storage_blobs.['id'].

Table 'advance_transactions' has columns: id (BIGINT), status (INTEGER), advance_id (BIGINT), transaction_id (VARCHAR), reference_id (VARCHAR), network (VARCHAR), network_rc (VARCHAR), approval_code (VARCHAR), service (VARCHAR), amount (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['advance_id'] -> advances.['id'].

Table 'advances' has columns: id (BIGINT), status (INTEGER), created_at (TIMESTAMP), updated_at (TIMESTAMP), amount_cents (INTEGER), amount_currency (VARCHAR), company_freelancer_id (BIGINT), funds_transfer_id (BIGINT), card_account_id (VARCHAR), pay_rate (NUMERIC(8, 2)), hours_worked (VARCHAR), allowed_amount (NUMERIC(8, 2)), pay_period_start (TIMESTAMP), pay_period_end (TIMESTAMP), compensation_type (VARCHAR), employment_status (VARCHAR), request_amount_cents (INTEGER), request_amount_currency (VARCHAR), employer_paid_fees (BOOLEAN), disbursement_id (UUID), advance_log (JSON), and foreign keys: ['company_freelancer_id'] -> company_freelancers.['id'].

Table 'api_keys' has columns: id (BIGINT), bearer_id (INTEGER), bearer_type (VARCHAR), token_digest (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: .

Table 'ar_internal_metadata' has columns: key (VARCHAR), value (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: .

Table 'authentication_tokens' has columns: id (BIGINT), body (VARCHAR), last_used_at (TIMESTAMP), ip_address (VARCHAR), user_agent (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), authable_type (VARCHAR), authable_id (BIGINT), and foreign keys: .

Table 'authorizations' has columns: id (BIGINT), provider (VARCHAR), uid (VARCHAR), token (VARCHAR), user_id (BIGINT), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['user_id'] -> users.['id'].

Table 'client_credentials' has columns: id (BIGINT), client_id (VARCHAR), password_digest (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), company_id (BIGINT), and foreign keys: ['company_id'] -> companies.['id'].

Table 'clover_company_employees' has columns: id (BIGINT), full_name (VARCHAR), email (VARCHAR), phone_number (VARCHAR), clover_id (VARCHAR), company_id (BIGINT), hubspot_contact_id (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), role (VARCHAR), and foreign keys: ['company_id'] -> companies.['id'].

Table 'clover_registrations' has columns: id (BIGINT), merchant_id (VARCHAR), verified_clover_shift_data (BOOLEAN), encrypted_access_token (VARCHAR), encrypted_access_token_iv (VARCHAR), company_id (BIGINT), registration_status (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['company_id'] -> companies.['id'].

Table 'companies' has columns: id (BIGINT), company_name (VARCHAR), email (VARCHAR), contact_phone (VARCHAR), unique_code (VARCHAR), status (INTEGER), created_at (TIMESTAMP), updated_at (TIMESTAMP), pay_frequency (INTEGER), encrypted_password (VARCHAR), reset_password_token (VARCHAR), reset_password_sent_at (TIMESTAMP), remember_created_at (TIMESTAMP), sign_in_count (INTEGER), current_sign_in_at (TIMESTAMP), last_sign_in_at (TIMESTAMP), current_sign_in_ip (VARCHAR), last_sign_in_ip (VARCHAR), confirmation_token (VARCHAR), confirmed_at (TIMESTAMP), confirmation_sent_at (TIMESTAMP), unconfirmed_email (VARCHAR), contact_first_name (VARCHAR), contact_last_name (VARCHAR), contact_job_title (VARCHAR), accepted_agreements (BOOLEAN), headcount (INTEGER), low_income_percentage (INTEGER), existing_turnover (INTEGER), service_type (INTEGER), valid_api_key (BOOLEAN), account_balance (NUMERIC(8, 2)), account_balance_threshold (NUMERIC(8, 2)), encrypted_merge_account_token (VARCHAR), encrypted_merge_account_token_iv (VARCHAR), merge_id (UUID), payroll_provider_id (BIGINT), pinwheel_integration_req (BOOLEAN), pinwheel_payroll_platform (UUID), pinwheel_time_and_attendance_platform (UUID), auto_payout (BOOLEAN), pinwheel_t_and_a_not_req (BOOLEAN), utc_offset (INTEGER), skip_verify_employment (BOOLEAN), pay_day_offset (INTEGER), time_and_attendance_provider_id (BIGINT), hubspot_company_id (VARCHAR), and foreign keys: ['payroll_provider_id'] -> payroll_providers.['id'], ['time_and_attendance_provider_id'] -> time_and_attendance_providers.['id'].

Table 'company_freelancers' has columns: id (BIGINT), user_id (BIGINT), company_id (BIGINT), occupation (VARCHAR), average_pay_cents (INTEGER), average_pay_currency (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), status (INTEGER), disbursement_trx_limit (INTEGER), ruleset_data (JSONB), and foreign keys: ['company_id'] -> companies.['id'], ['user_id'] -> users.['id'].

Table 'company_rulesets' has columns: id (BIGINT), company_id (INTEGER), ruleset_name (VARCHAR), ruleset_data (JSON), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['company_id'] -> companies.['id'].

Table 'debit_cards' has columns: id (BIGINT), provider_name (VARCHAR), account_id (VARCHAR), funds_recipient (BOOLEAN), user_id (BIGINT), created_at (TIMESTAMP), updated_at (TIMESTAMP), card_alias (TEXT), last_four (TEXT), and foreign keys: ['user_id'] -> users.['id'].

Table 'delayed_jobs' has columns: id (BIGINT), priority (INTEGER), attempts (INTEGER), handler (TEXT), last_error (TEXT), run_at (TIMESTAMP), locked_at (TIMESTAMP), failed_at (TIMESTAMP), locked_by (VARCHAR), queue (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: .

Table 'eligibilities' has columns: id (BIGINT), pay_period_id (INTEGER), company_freelancer_id (INTEGER), shift_id (INTEGER), gross_eligible_amount (DOUBLE PRECISION), override_amount (DOUBLE PRECISION), freeze_eligibility (BOOLEAN), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['company_freelancer_id'] -> company_freelancers.['id'].

Table 'google_sheets' has columns: id (BIGINT), sheet_id (VARCHAR), tab_id (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), company_id (BIGINT), and foreign keys: ['company_id'] -> companies.['id'].

Table 'installations' has columns: id (BIGINT), user_id (BIGINT), token (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['user_id'] -> users.['id'].

Table 'pay_periods' has columns: id (BIGINT), company_id (INTEGER), period_start_date (TIMESTAMP), period_end_date (TIMESTAMP), pay_date (TIMESTAMP), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['company_id'] -> companies.['id'].

Table 'payroll_providers' has columns: id (BIGINT), name (VARCHAR), supported (BOOLEAN), created_at (TIMESTAMP), updated_at (TIMESTAMP), pinwheel_platform_id (UUID), pinwheel_compatible (BOOLEAN), pinwheel_jobs (ARRAY), and foreign keys: .

Table 'pinwheel_links' has columns: id (BIGINT), account_id (UUID), platform_id (UUID), platform_type (VARCHAR), job (VARCHAR), params (VARCHAR), action_needed (VARCHAR), additional_link_id (VARCHAR), user_id (BIGINT), created_at (TIMESTAMP), updated_at (TIMESTAMP), platform_name (VARCHAR), connected (BOOLEAN), monitoring_status (VARCHAR), and foreign keys: ['user_id'] -> users.['id'].

Table 'rpush_apps' has columns: id (BIGINT), name (VARCHAR), environment (VARCHAR), certificate (TEXT), password (VARCHAR), connections (INTEGER), created_at (TIMESTAMP), updated_at (TIMESTAMP), type (VARCHAR), auth_key (VARCHAR), client_id (VARCHAR), client_secret (VARCHAR), access_token (VARCHAR), access_token_expiration (TIMESTAMP), and foreign keys: .

Table 'rpush_feedback' has columns: id (BIGINT), device_token (VARCHAR(64)), failed_at (TIMESTAMP), created_at (TIMESTAMP), updated_at (TIMESTAMP), app_id (INTEGER), and foreign keys: .

Table 'rpush_notifications' has columns: id (BIGINT), badge (INTEGER), device_token (VARCHAR(64)), sound (VARCHAR), alert (TEXT), data (TEXT), expiry (INTEGER), delivered (BOOLEAN), delivered_at (TIMESTAMP), failed (BOOLEAN), failed_at (TIMESTAMP), error_code (INTEGER), error_description (TEXT), deliver_after (TIMESTAMP), created_at (TIMESTAMP), updated_at (TIMESTAMP), alert_is_json (BOOLEAN), type (VARCHAR), collapse_key (VARCHAR), delay_while_idle (BOOLEAN), registration_ids (TEXT), app_id (INTEGER), retries (INTEGER), uri (VARCHAR), fail_after (TIMESTAMP), processing (BOOLEAN), priority (INTEGER), url_args (TEXT), category (VARCHAR), content_available (BOOLEAN), notification (TEXT), mutable_content (BOOLEAN), and foreign keys: .

Table 'schema_migrations' has columns: version (VARCHAR), and foreign keys: .

Table 'shifts' has columns: id (BIGINT), pay_period_id (INTEGER), company_freelancer_id (INTEGER), data_type (VARCHAR), shift_data (JSON), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['company_freelancer_id'] -> company_freelancers.['id'].

Table 'subscriptions' has columns: id (BIGINT), user_id (BIGINT), stripe_subscription_id (VARCHAR), active (BOOLEAN), subscription_amount_cents (INTEGER), subscription_amount_currency (VARCHAR), renews_at (TIMESTAMP), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['user_id'] -> users.['id'].

Table 'time_and_attendance_providers' has columns: id (BIGINT), name (VARCHAR), supported (BOOLEAN), pinwheel_platform_id (UUID), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: .

Table 'timesheet_providers' has columns: id (BIGINT), name (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), company_id (BIGINT), and foreign keys: ['company_id'] -> companies.['id'].

Table 'users' has columns: id (BIGINT), first_name (VARCHAR), last_name (VARCHAR), email (VARCHAR), role (VARCHAR), status (INTEGER), encrypted_password (VARCHAR), reset_password_token (VARCHAR), reset_password_sent_at (TIMESTAMP), remember_created_at (TIMESTAMP), sign_in_count (INTEGER), current_sign_in_at (TIMESTAMP), last_sign_in_at (TIMESTAMP), current_sign_in_ip (VARCHAR), last_sign_in_ip (VARCHAR), confirmation_token (VARCHAR), confirmed_at (TIMESTAMP), confirmation_sent_at (TIMESTAMP), unconfirmed_email (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), dob (DATE), goal (INTEGER), address_street (VARCHAR), galileo_prn (VARCHAR), address_unit (VARCHAR), address_city (VARCHAR), address_state (VARCHAR), address_zip (VARCHAR), ship_address_street (VARCHAR), ship_address_unit (VARCHAR), ship_address_city (VARCHAR), ship_address_state (VARCHAR), ship_address_zip (VARCHAR), income_amount (VARCHAR), income_frequency (VARCHAR), income_source (VARCHAR), occupation (VARCHAR), phone_number (VARCHAR), phone_number_confirmed (VARCHAR), stripe_customer_id (VARCHAR), twofa_verification (BOOLEAN), bancorp_account_id (VARCHAR), work_email (VARCHAR), tsheets_id (INTEGER), external_id (UUID), hubspot_contact_id (VARCHAR), and foreign keys: .

Table 'write_data_google_sheets' has columns: id (BIGINT), sheet_id (VARCHAR), tab_id (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), company_id (BIGINT), and foreign keys: ['company_id'] -> companies.['id'].
> Table desc str: Table 'active_storage_attachments' has columns: id (BIGINT), name (VARCHAR), record_type (VARCHAR), record_id (BIGINT), blob_id (BIGINT), created_at (TIMESTAMP), and foreign keys: ['blob_id'] -> active_storage_blobs.['id'].

Table 'active_storage_blobs' has columns: id (BIGINT), key (VARCHAR), filename (VARCHAR), content_type (VARCHAR), metadata (TEXT), byte_size (BIGINT), checksum (VARCHAR), created_at (TIMESTAMP), service_name (VARCHAR), and foreign keys: .

Table 'active_storage_variant_records' has columns: id (BIGINT), blob_id (BIGINT), variation_digest (VARCHAR), and foreign keys: ['blob_id'] -> active_storage_blobs.['id'].

Table 'advance_transactions' has columns: id (BIGINT), status (INTEGER), advance_id (BIGINT), transaction_id (VARCHAR), reference_id (VARCHAR), network (VARCHAR), network_rc (VARCHAR), approval_code (VARCHAR), service (VARCHAR), amount (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['advance_id'] -> advances.['id'].

Table 'advances' has columns: id (BIGINT), status (INTEGER), created_at (TIMESTAMP), updated_at (TIMESTAMP), amount_cents (INTEGER), amount_currency (VARCHAR), company_freelancer_id (BIGINT), funds_transfer_id (BIGINT), card_account_id (VARCHAR), pay_rate (NUMERIC(8, 2)), hours_worked (VARCHAR), allowed_amount (NUMERIC(8, 2)), pay_period_start (TIMESTAMP), pay_period_end (TIMESTAMP), compensation_type (VARCHAR), employment_status (VARCHAR), request_amount_cents (INTEGER), request_amount_currency (VARCHAR), employer_paid_fees (BOOLEAN), disbursement_id (UUID), advance_log (JSON), and foreign keys: ['company_freelancer_id'] -> company_freelancers.['id'].

Table 'api_keys' has columns: id (BIGINT), bearer_id (INTEGER), bearer_type (VARCHAR), token_digest (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: .

Table 'ar_internal_metadata' has columns: key (VARCHAR), value (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: .

Table 'authentication_tokens' has columns: id (BIGINT), body (VARCHAR), last_used_at (TIMESTAMP), ip_address (VARCHAR), user_agent (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), authable_type (VARCHAR), authable_id (BIGINT), and foreign keys: .

Table 'authorizations' has columns: id (BIGINT), provider (VARCHAR), uid (VARCHAR), token (VARCHAR), user_id (BIGINT), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['user_id'] -> users.['id'].

Table 'client_credentials' has columns: id (BIGINT), client_id (VARCHAR), password_digest (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), company_id (BIGINT), and foreign keys: ['company_id'] -> companies.['id'].

Table 'clover_company_employees' has columns: id (BIGINT), full_name (VARCHAR), email (VARCHAR), phone_number (VARCHAR), clover_id (VARCHAR), company_id (BIGINT), hubspot_contact_id (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), role (VARCHAR), and foreign keys: ['company_id'] -> companies.['id'].

Table 'clover_registrations' has columns: id (BIGINT), merchant_id (VARCHAR), verified_clover_shift_data (BOOLEAN), encrypted_access_token (VARCHAR), encrypted_access_token_iv (VARCHAR), company_id (BIGINT), registration_status (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['company_id'] -> companies.['id'].

Table 'companies' has columns: id (BIGINT), company_name (VARCHAR), email (VARCHAR), contact_phone (VARCHAR), unique_code (VARCHAR), status (INTEGER), created_at (TIMESTAMP), updated_at (TIMESTAMP), pay_frequency (INTEGER), encrypted_password (VARCHAR), reset_password_token (VARCHAR), reset_password_sent_at (TIMESTAMP), remember_created_at (TIMESTAMP), sign_in_count (INTEGER), current_sign_in_at (TIMESTAMP), last_sign_in_at (TIMESTAMP), current_sign_in_ip (VARCHAR), last_sign_in_ip (VARCHAR), confirmation_token (VARCHAR), confirmed_at (TIMESTAMP), confirmation_sent_at (TIMESTAMP), unconfirmed_email (VARCHAR), contact_first_name (VARCHAR), contact_last_name (VARCHAR), contact_job_title (VARCHAR), accepted_agreements (BOOLEAN), headcount (INTEGER), low_income_percentage (INTEGER), existing_turnover (INTEGER), service_type (INTEGER), valid_api_key (BOOLEAN), account_balance (NUMERIC(8, 2)), account_balance_threshold (NUMERIC(8, 2)), encrypted_merge_account_token (VARCHAR), encrypted_merge_account_token_iv (VARCHAR), merge_id (UUID), payroll_provider_id (BIGINT), pinwheel_integration_req (BOOLEAN), pinwheel_payroll_platform (UUID), pinwheel_time_and_attendance_platform (UUID), auto_payout (BOOLEAN), pinwheel_t_and_a_not_req (BOOLEAN), utc_offset (INTEGER), skip_verify_employment (BOOLEAN), pay_day_offset (INTEGER), time_and_attendance_provider_id (BIGINT), hubspot_company_id (VARCHAR), and foreign keys: ['payroll_provider_id'] -> payroll_providers.['id'], ['time_and_attendance_provider_id'] -> time_and_attendance_providers.['id'].

Table 'company_freelancers' has columns: id (BIGINT), user_id (BIGINT), company_id (BIGINT), occupation (VARCHAR), average_pay_cents (INTEGER), average_pay_currency (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), status (INTEGER), disbursement_trx_limit (INTEGER), ruleset_data (JSONB), and foreign keys: ['company_id'] -> companies.['id'], ['user_id'] -> users.['id'].

Table 'company_rulesets' has columns: id (BIGINT), company_id (INTEGER), ruleset_name (VARCHAR), ruleset_data (JSON), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['company_id'] -> companies.['id'].

Table 'debit_cards' has columns: id (BIGINT), provider_name (VARCHAR), account_id (VARCHAR), funds_recipient (BOOLEAN), user_id (BIGINT), created_at (TIMESTAMP), updated_at (TIMESTAMP), card_alias (TEXT), last_four (TEXT), and foreign keys: ['user_id'] -> users.['id'].

Table 'delayed_jobs' has columns: id (BIGINT), priority (INTEGER), attempts (INTEGER), handler (TEXT), last_error (TEXT), run_at (TIMESTAMP), locked_at (TIMESTAMP), failed_at (TIMESTAMP), locked_by (VARCHAR), queue (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: .

Table 'eligibilities' has columns: id (BIGINT), pay_period_id (INTEGER), company_freelancer_id (INTEGER), shift_id (INTEGER), gross_eligible_amount (DOUBLE PRECISION), override_amount (DOUBLE PRECISION), freeze_eligibility (BOOLEAN), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['company_freelancer_id'] -> company_freelancers.['id'].

Table 'google_sheets' has columns: id (BIGINT), sheet_id (VARCHAR), tab_id (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), company_id (BIGINT), and foreign keys: ['company_id'] -> companies.['id'].

Table 'installations' has columns: id (BIGINT), user_id (BIGINT), token (VARCHAR), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['user_id'] -> users.['id'].

Table 'pay_periods' has columns: id (BIGINT), company_id (INTEGER), period_start_date (TIMESTAMP), period_end_date (TIMESTAMP), pay_date (TIMESTAMP), created_at (TIMESTAMP), updated_at (TIMESTAMP), and foreign keys: ['company_id'] -> companies.['id'].

Table 'payroll_providers' has columns: id (BIGINT), name (VARCHAR), supported (BOOLEAN), created_at (TIMESTAMP), updated_at (TIMESTAMP), pinwheel_platform_id (UUID), pinwheel_compatible (BOOLEAN), pinwheel_jobs (ARRAY), and foreign keys: .

Table 'pinwheel_links' has columns: id (BIGINT), account_id (UUID), platform_id (UUID), platform_type (VARCHAR), job (VARCHAR), params (VARCHAR), action_needed (VARCHAR), additional_link_id (VARCHAR), user_id (BIGINT), created_at (TIMESTAMP), updated_at (TIMESTAMP), platform_name (VARCHAR), connected (BOOLEAN), monitoring_status (VARCHAR), and foreign keys: ['user_id'] -> users.['id'].

Table 'rpush_apps' has columns: id (BIGINT), name (VARCHAR), environment (VARCHAR), certificate (TEXT), password (VARCHAR), connections (INTEGER), created_at (TIMESTAMP), updated_at (TIMESTAMP), type (VARCHAR), auth_key (VARCHAR), client_id (VARCHAR), client_secret (VARCHAR), access_token (VARCHAR), access_token_expiration (TIMESTAMP), and foreign keys: .

Table 'rpush_feedback' has columns: id (BIGINT), device_token (VARCHAR(64)), failed_at (TIMESTAMP), created_at (TIMESTAMP), updated_at (TIMESTAMP), app_id (INTEGER), and foreign keys: .


In [40]:
print(response.response)

We have a total of 115 users.

In [41]:
print(response.metadata['sql_query'])

SELECT COUNT(*) FROM users;

In [42]:
print(response.metadata['result'])

[(115,)]

In [35]:
print(token_counter.total_llm_token_count)

12558

In [36]:
token_counter.reset_counts()

In [37]:
from llama_index.objects import ObjectIndex
from llama_index.objects import SQLTableNodeMapping, SQLTableSchema
import pandas as pd

tables = list(sql_database._all_tables)
table_node_mapping = SQLTableNodeMapping(sql_database)
table_schema_objs = []
for table in tables:
    table_schema_objs.append((SQLTableSchema(table_name = table, context_str = table_details[table])))

KeyError: ignored

In [ ]:
table_schema_objs

[SQLTableSchema(table_name='payments', context_str='stores payments made by customers based on their accounts.'),
 SQLTableSchema(table_name='employees', context_str='stores all employee information as well as the organization structure such as who reports to whom.'),
 SQLTableSchema(table_name='customers', context_str='stores customer’s data.'),
 SQLTableSchema(table_name='orders', context_str='stores sales orders placed by customers.'),
 SQLTableSchema(table_name='productlines', context_str='stores a list of product line categories.'),
 SQLTableSchema(table_name='products', context_str='stores a list of scale model cars.'),
 SQLTableSchema(table_name='orderdetails', context_str='stores sales order line items for each sales order.'),
 SQLTableSchema(table_name='offices', context_str='stores sales office data.')]

In [ ]:
from llama_index.indices.struct_store import SQLTableRetrieverQueryEngine
from llama_index import VectorStoreIndex


obj_index = ObjectIndex.from_objects(
    table_schema_objs,
    table_node_mapping,
    VectorStoreIndex,
    service_context=service_context
)

In [ ]:
query_engine = SQLTableRetrieverQueryEngine(
    sql_database, obj_index.as_retriever(similarity_top_k=3), service_context=service_context
)
response = query_engine.query("How many customers we have?")

INFO:llama_index.indices.struct_store.sql_query:> Table desc str: Table 'customers' has columns: customerNumber (INTEGER), customerName (VARCHAR(50)), contactLastName (VARCHAR(50)), contactFirstName (VARCHAR(50)), phone (VARCHAR(50)), addressLine1 (VARCHAR(50)), addressLine2 (VARCHAR(50)), city (VARCHAR(50)), state (VARCHAR(50)), postalCode (VARCHAR(15)), country (VARCHAR(50)), salesRepEmployeeNumber (INTEGER), creditLimit (DECIMAL(10, 2)), and foreign keys: ['salesRepEmployeeNumber'] -> employees.['employeeNumber']. The table description is: stores customer’s data.

Table 'orders' has columns: orderNumber (INTEGER), orderDate (DATE), requiredDate (DATE), shippedDate (DATE), status (VARCHAR(15)), comments (TEXT), customerNumber (INTEGER), and foreign keys: ['customerNumber'] -> customers.['customerNumber']. The table description is: stores sales orders placed by customers.

Table 'payments' has columns: customerNumber (INTEGER), checkNumber (VARCHAR(50)), paymentDate (DATE), amount (DECIMAL(10, 2)), and foreign keys: ['customerNumber'] -> customers.['customerNumber']. The table description is: stores payments made by customers based on their accounts.
> Table desc str: Table 'customers' has columns: customerNumber (INTEGER), customerName (VARCHAR(50)), contactLastName (VARCHAR(50)), contactFirstName (VARCHAR(50)), phone (VARCHAR(50)), addressLine1 (VARCHAR(50)), addressLine2 (VARCHAR(50)), city (VARCHAR(50)), state (VARCHAR(50)), postalCode (VARCHAR(15)), country (VARCHAR(50)), salesRepEmployeeNumber (INTEGER), creditLimit (DECIMAL(10, 2)), and foreign keys: ['salesRepEmployeeNumber'] -> employees.['employeeNumber']. The table description is: stores customer’s data.

Table 'orders' has columns: orderNumber (INTEGER), orderDate (DATE), requiredDate (DATE), shippedDate (DATE), status (VARCHAR(15)), comments (TEXT), customerNumber (INTEGER), and foreign keys: ['customerNumber'] -> customers.['customerNumber']. The table description is: stores sales orders placed by customers.

Table 'payments' has columns: customerNumber (INTEGER), checkNumber (VARCHAR(50)), paymentDate (DATE), amount (DECIMAL(10, 2)), and foreign keys: ['customerNumber'] -> customers.['customerNumber']. The table description is: stores payments made by customers based on their accounts.

In [ ]:
print(response)

We have 122 customers.

In [ ]:
print(token_counter.total_llm_token_count)

514